.hamburger-img{
    margin: 20px;
    width: 25px;
}

.header{
    background-color: rgb(255,255,255);
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #f0e8e8;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
}

.left-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.microphone-img{
    width: 25px;
    padding-top: 3px;
}

.middle-section{
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 600px;
}

.notifications{
    width: 30px;
}

.right-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    padding: 0 10px 0;
    flex-shrink: 0; 

}

.search-box{
    padding-left: 12px; 
    height: 40px;
    flex: 1;
    font-family: 'Roboto', Arial;
    font-size: 15px;
    font-weight: 300;
    border: 1px solid #dedede;
    width: 0;
    box-shadow: inset 1px 2px 2px rgba(0,0,0,0.05)
}

.search-box::placeholder{
    font-family: 'Roboto', Arial;
    color: #b7b5b5;
    font-size: 16px;
}
.search-img{
    width: 25px;
    margin: 7px;
}

.search-button{
    height: 44px;
    width:64px;
    border: 1px solid #dedede;
    padding: 1px 6px 1px;
    margin: -1px;
    background-color: #F0F0F0;
}

.upload-button{
    width: 30px;
}

.user-logo{
    width: 30px;
}

.voice-search{
    border: none;
    margin-left: 20px;
    border-radius: 22px;
    height: 44px;
    width: 44px;
    background-color: #f8f8f8;
}

.youtube-apps{
    width: 30px;
}

.youtube-logo{
    width: 90px;
}