.sidebar{
    background-color: white;
    width: 75px;
    position: fixed;
    top: 58px;
    left:0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-link-container{
    font-family: 'Roboto', Arial;
    font-size: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
}

.sidebar-link-container:hover{
    background-color: rgb(234, 232, 232);
}

.sidebar-icon{
    width: 25px;
}

