.channel-logo-container{
	display: inline-block;
	vertical-align: top;
	width:50px;
}

.channel-image{
	margin-top: 12px;
	width:40px;
	border-radius: 50px;
	
}
.channel-name{
	font-size: 12px;
	color: rgb(96,96,96);
	margin-bottom: 4px;

}

.thumbnails {
	width: 100%;
}

.video-layout-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 40px;
}
.video-container{
	border: 2px;
	border-style: solid;
	border-color: red;
}

.video-details{
	margin-top: 0px;
	vertical-align: top;
}

.video-info-grid{
	display: grid;
	grid-template-columns: 50px 1fr;
	
}
.video-title{
	margin-top: 12px;
	margin-bottom: 12px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
}

.video-stats{
	font-size: 12px;
	color: rgb(96,96,96);
	margin-top: 0px;
}