.channel-logo-container{
	display: inline-block;
	vertical-align: top;
	width:50px;
}

.channel-image{
	margin-top: 12px;
	width:40px;
	border-radius: 50px;
	
}
.channel-name{
	font-size: 12px;
	color: rgb(96,96,96);
	margin-bottom: 4px;

}

.thumbnail-container{
    position: relative
}
.thumbnails {
    border-radius: 20px;
	width: 100%;
}

.video-layout-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 40px;
}
.video-container{
}

.video-details{
	margin-top: 0px;
	vertical-align: top;
}

.video-info-grid{
	display: grid;
	grid-template-columns: 50px 1fr;
	
}

.video-length-tag{
    font-family: "Roboto", Arial;
    font-weight: 500;
    color: white;
    background-color: black;
    border-radius: 2px;
    position: absolute;
    bottom: 7px;
    right: 4px;
    padding: 2px 4px;
}
.video-title{
	margin-top: 12px;
	margin-bottom: 12px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
}

.video-stats{
	font-size: 12px;
	color: rgb(96,96,96);
	margin-top: 0px;
}